<app-header></app-header>
  <div class="services-section">
    <div class="container">
       <div class="row">
          <div class="col-lg-12 text-center text-space">
             <h2 class="g-header-text">Get over 20+ car repair services at your home</h2>
          </div>
       </div>
       <div class="row">
          <div class="col-lg-4 col-md-4">
             <div class="shadow-box-fill jobs-list">
                <ul>
                   <li>
                      <a href="/services/car-is-not-starting-inspection" class="search__popular__service d-flex no-padding">
                         <div class="search__popular__service__icon"><i class="icon car-not-starting"></i></div>
                         Car is not starting Inspection
                      </a>
                   </li>
                   <li>
                      <a class="search__popular__service d-flex no-padding" href="/services/change-oil-and-filter">
                         <div class="search__popular__service__icon"><i class="icon oil-change"></i></div>
                         Change Oil and Filter
                      </a>
                   </li>
                   <li>
                      <a class="search__popular__service d-flex no-padding" href="/services/brake-pads-replacement">
                         <div class="search__popular__service__icon"><i class="icon brake-pads"></i></div>
                         Brake Pads Replacement
                      </a>
                   </li>
                   <li>
                      <a class="search__popular__service d-flex no-padding" href="/services/timing-belt-replacement">
                         <div class="search__popular__service__icon"><i class="icon rnr"></i></div>
                         Timing Belt Replacement
                      </a>
                   </li>
                   <li>
                      <a class="search__popular__service d-flex no-padding" href="/services/pre-purchase-car-inspection">
                         <div class="search__popular__service__icon"><i class="icon pre-purchase"></i></div>
                         Pre-purchase Car Inspection
                      </a>
                   </li>
                   <li>
                      <a class="search__popular__service d-flex no-padding" href="/services/battery-replacement">
                         <div class="search__popular__service__icon"><i class="icon battery"></i></div>
                         Battery Replacement
                      </a>
                   </li>
                </ul>
             </div>
          </div>
          <div class="col-lg-4 col-md-4">
             <div class="shadow-box-fill jobs-list">
                <ul>
                   <li>
                      <a class="search__popular__service d-flex no-padding" href="/services/starter-replacement">
                         <div class="search__popular__service__icon"><i class="icon starter"></i></div>
                         Starter Replacement
                      </a>
                   </li>
                   <li>
                      <a class="search__popular__service d-flex no-padding" href="/services/alternator-replacement">
                         <div class="search__popular__service__icon"><i class="icon alternator"></i></div>
                         Alternator Replacement
                      </a>
                   </li>
                   <li>
                      <a class="search__popular__service d-flex no-padding" href="/services/serpentine-drive-belt-replacement">
                         <div class="search__popular__service__icon"><i class="icon rnr"></i></div>
                         Serpentine/Drive Belt Replacement
                      </a>
                   </li>
                   <li>
                      <a class="search__popular__service d-flex no-padding" href="/services/spark-plugs-replacement">
                         <div class="search__popular__service__icon"><i class="icon spark-plugs"></i></div>
                         Spark Plugs Replacement
                      </a>
                   </li>
                   <li>
                      <a class="search__popular__service d-flex no-padding" href="/services/water-pump-replacement">
                         <div class="search__popular__service__icon"><i class="icon water-pump"></i></div>
                         Water Pump Replacement
                      </a>
                   </li>
                   <li>
                      <a class="search__popular__service d-flex no-padding" href="/services/fuel-pump-replacement">
                         <div class="search__popular__service__icon"><i class="icon fuel-pump"></i></div>
                         Fuel Pump Replacement
                      </a>
                   </li>
                </ul>
             </div>
          </div>
          <div class="col-lg-4 col-md-4">
             <div class="shadow-box-fill jobs-list home-services">
                <ul>
                   <li>
                      <a class="search__popular__service d-flex no-padding" href="/services/radiator-replacement">
                         <div class="search__popular__service__icon"><i class="icon radiator"></i></div>
                         Radiator Replacement
                      </a>
                   </li>
                   <li>
                      <a class="search__popular__service d-flex no-padding" href="/services/valve-cover-gasket-replacement">
                         <div class="search__popular__service__icon"><i class="icon rnr"></i></div>
                         Valve Cover Gasket Replacement
                      </a>
                   </li>
                   <li>
                      <a class="search__popular__service d-flex no-padding" href="/services/oxygen-sensor-replacement">
                         <div class="search__popular__service__icon"><i class="icon rnr"></i></div>
                         Oxygen Sensor Replacement
                      </a>
                   </li>
                   <li>
                      <a class="search__popular__service d-flex no-padding" href="/services/thermostat-replacement">
                         <div class="search__popular__service__icon"><i class="icon rnr"></i></div>
                         Thermostat Replacement
                      </a>
                   </li>
                   <li>
                      <a class="search__popular__service d-flex no-padding" href="/services/wheel-bearings-replacement">
                         <div class="search__popular__service__icon"><i class="icon rnr"></i></div>
                         Wheel Bearings Replacement
                      </a>
                   </li>
                   <li>
                      <a class="search__popular__service d-flex no-padding" href="/services/axle-cv-shaft-assembly-replacement">
                         <div class="search__popular__service__icon"><i class="icon rnr"></i></div>
                         Axle/CV Shaft Assembly Replacement
                      </a>
                   </li>
                </ul>
             </div>
          </div>
       </div>
       <div class="container" style="text-align: center;">
          <h5>And Much More...!</h5>
       </div>
    </div>
 </div>