<app-header></app-header>
<br>
 <div class="container">
   <h3>View Request Details</h3>
   <br>
   <div>
       <div>
           <label><b>Vehicle Number:</b></label> {{ request.vehicleNumber }}
       </div>
       <div>
           <label><b>Vehicle Name:</b></label> {{ request.vehicleName }}
       </div>
       <div>
           <label><b>Vehicle Brand:</b></label> {{ request.vehicleBrand }}
       </div>
       <div>
           <label><b>Vehicle Model:</b></label> {{ request.vehicleModel }}
       </div>
       <div>
           <label><b>Service Type:</b></label> {{ request.serviceType }}
       </div>
       <div>
           <label><b>Problem Description:</b></label> {{ request.problemDescription }}
       </div>
       <div>
           <label><b>Manufacturing Date:</b></label> {{ request.manufacturingDate }}
       </div>
   </div>
 </div>




