<app-header></app-header>
<br><br>
<div class="container">
   <div class="row">
      <div class="col-md-6">
         <div class="color-tile"><a routerLink="/make-request" style="text-decoration: none; color: white;">Make NewRequest</a></div>
      </div>
      <div class="col-md-6">
         <div class="color-tile green"><a routerLink="/requests" style="text-decoration: none; color: white;">ViewRequests</a></div>
      </div>
      <!-- <div class="col-md-3">
         <div class="color-tile blue">Vehicle Repaired</div>
         </div>
         <div class="col-md-3">
         <div class="color-tile yellow">Total Bill</div>
         </div> -->
   </div>
</div>